<br>
<h1>Users</h1>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>Has made <%= "#{user.ratings.count}"%> ratings, with average rating <%= "#{round(user.average_rating)}" %></p>
    <p>Favorite brewery: <%= "#{user.favorite_brewery}" %></p>
    <p>
      <%= link_to "Show this user", user, class: "btn btn-outline-primary btn-sm" %>
    </p>
  <% end %>
</div>
<%= link_to "New user", new_user_path, class: "btn btn-primary btn-sm" %>
