<br>
<h1>Beers</h1>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Beer</th>
        <th scope="col">Style</th>
        <th scope="col">Brewery</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @beers.each do |beer| %>
        <tr id="<%= dom_id beer %>">
          <th><%= link_to beer.name, beer %></th>
          <th><%= link_to beer.style.name, beer.style %></th>
          <th><%= link_to beer.brewery.name, beer.brewery %></th>
          <th><%= round(beer.average_rating)  %></th>
        <% end %>
      </tr>
    </tbody>
  </table>
  <%= link_to('New beer', new_beer_path, class:"btn btn-primary btn-sm") if current_user %>
